apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-rkzpedkb
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-rkzpedkb:fb131f99857976f55b2503e6e9867b87e3271b19@sha256:bc91b717ae64caf57b6edef77a0a52da59ce382f57f57de6cbb5b5bb603111e3
          name: container-image
